<detalle-persona [persona]="personaSeleccionado" *ngIf="personaSeleccionado"></detalle-persona>
<div class="card border-primary mb-3">
  <div class="card-header">Personas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Personas</h5>
    <div class="my-2 text-left">
      <button class="btn btn-primary rounded" [routerLink]="['/personas/form']" *ngIf="authService.hasRole('ROLE_ADMIN')">Crear Cliente</button>
    </div>
    <div *ngIf="personas?.length==0" class="alert-info p-3">
      No hay registros en la BD
    </div>
    <table class="table table-bordered table-striped" *ngIf="personas?.length>0">
      <thead>
      <tr>
        <th>Perfil</th>
        <th>nombres</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>ci</th>
<!--        <th>sexo</th>-->
        <!--      <th>username</th>-->
        <!--      <th>password</th>-->
        <th>email</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let persona of personas">
        <td>
          <img *ngIf="persona?.foto" (click)="abrirModal(persona)"
               src="http://localhost:8080/api/uploads/img/{{persona.foto}}" alt="{{persona.foto}}"
               class="img-thumbnail rounded"
               style="width: 64px; cursor: pointer;height: 64px">
          <img *ngIf="!persona?.foto" (click)="abrirModal(persona)"
               src="http://localhost:8080/images/no_user.png" alt="sin_foto"
               class="img-thumbnail rounded"
               style="width: 64px; cursor: pointer;height: 64px">
          <!--          [routerLink]="['/personas/ver/',persona.id]"-->
        </td>
        <td>{{persona.nombres | uppercase}}</td>
        <td>{{persona.apellidoPat | uppercase}}</td>
        <td>{{persona.apellidoMat | uppercase}}</td>
        <td>{{persona.fnac | date: "EEEE dd, MMMM, yyyy"}}</td>
<!--        <td>{{persona.sexo}}</td>-->
        <!--      <td>{{persona.username}}</td>-->
        <!--      <td>{{persona.password}}</td>-->
        <td>{{persona.email}}</td>
<!--        *ngIf="authService.hasRole('ROLE_ADMIN')"-->
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button [routerLink]="['/personas/form',persona.id]" class="btn btn-primary btn-sm">editar</button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button (click)="delete(persona)" class="btn btn-danger btn-sm">eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]=paginador></paginator-nav>
  </div>
</div>
