.button-right {
  margin: 20px;
  display: flex;
}

mat-expansion-panel-header {
  height: auto !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.button-seccion{
  display: inline-flex;
  float: right;
  font-family: Metropolis-Regular, sans-serif;
}

@media only screen and (max-width: 950px) {
  /* For mobile phones: */
  [class*="button-seccion"] {
    display: flex;
    justify-content: space-between;
  }
  [class*="button-seccion"] button {
    width: 170px;
    margin: 5px;
  }
}
