<div class="container mt-4">
  <div>
    <div class="button-right">
      <div style="width: 85%">
        <h1 *ngIf="authService.isAuthenticated()">Mis encuestas</h1>
        <h1 *ngIf="authService.isAuthenticated() == false">Encuestas Publicas</h1>
      </div>
      <div style="width: 15%">
        <button mat-fab color="primary" aria-label="crea encuesta" [routerLink]="['/encuestas/crear']" *ngIf="authService.isAuthenticated()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div *ngFor="let encuesta of encuestas">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{encuesta.titulo}}
          </mat-panel-title>
          <mat-panel-description>
            {{encuesta.categoria.descripcion}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Respuestas</p>
        <div>
          <div *ngFor="let pregunta of encuesta.preguntas">
            <p>{{pregunta.descripcion}}</p>
            <div *ngFor="let opcion of pregunta.opciones">
              <p>{{opcion.texto}}</p>
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
