<div class="container mt-4" style="padding-bottom: 2em">
  <div *ngIf="authService.isAuthenticated()">
    <div class="button-right">
      <div style="width: 85%">
        <h1 style="font-family: Metropolis-Regular, sans-serif">Mis encuestas</h1>
      </div>
      <div style="width: 15%">
        <button style="font-family: Metropolis-Regular, sans-serif" mat-raised-button color="primary" aria-label="crea encuesta" [routerLink]="['/encuestas/crear']"
                *ngIf="authService.isAuthenticated()">
          <!--          <mat-icon>add</mat-icon>-->
          Crear Encuesta
        </button>
      </div>
    </div>
    <div *ngFor="let encuesta of encuestas">
      <mat-expansion-panel style="margin-bottom: 1em">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-family: Metropolis-Bold, sans-serif">
            {{encuesta.titulo}}
          </mat-panel-title>
          <mat-panel-description>
            {{encuesta.categoria.descripcion}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h3>Respuestas</h3>
        <div>
          <div *ngFor="let pregunta of encuesta.preguntas">
            <p class="font-italic">{{pregunta.descripcion}}</p>
            <div [ngSwitch]="pregunta.tipo">
              <div *ngSwitchCase="'Opcion Multiple'">
                <div *ngFor="let opcion of pregunta.opciones" style="margin: 10px">
                  <p class="font-weight-bold">{{opcion.texto}}</p>
                  <mat-progress-bar mode="determinate" value="{{opcion.total}}"></mat-progress-bar>
                  <div *ngIf="opcion.total != undefined" style="position:relative; padding: 10px">
                    {{ opcion.total + " %"}}
                  </div>
                  <div *ngIf="opcion.total == undefined" style="position:relative; padding: 10px">
                    Sin respuestas.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="float: right; font-family: Metropolis-Regular, sans-serif">
          <button style="margin-right: 20px;" mat-raised-button color="secondary" aria-label="crea encuesta" *ngIf="authService.isAuthenticated()">
            Estadisticas
          </button>
          <button mat-raised-button color="warn" aria-label="crea encuesta" *ngIf="authService.isAuthenticated()">
            Eliminar
          </button>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
  <!--  <button (click)="mostrarEncuesta()">mostrar</button>-->
</div>
