<div class="container-card" style="margin-top: 30px; padding-bottom: 5em">
  <form #preguntasForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <mat-card>
        <h2 style="font-family: Metropolis-Bold, sans-serif">{{encuesta.titulo}}</h2>
        <!--        toda la info necesaria-->
      </mat-card>
      <!--    tarjeta de pregunta-->
      <div style="display: flex" *ngFor="let pregunta of encuesta.preguntas; let i = index;" class="seccion-pregunta">
        <mat-card style="margin-top: 10px; width: 100%">
          <div class="pregunta-header">
            <div style="width: 70%">
              <h3>{{pregunta.descripcion}}<span style="color: red" *ngIf="pregunta.required"> *</span></h3>
<!--              <input type="hidden" [(ngModel)]="uprPreguntas[i]" value="{{pregunta.id}}" name="preguntaId_{{i}}">-->
            </div>
            <!-- IMPORTANTE: cada input dentro el forEach tiene que tener su nombre unico, es por eso que agrego el index como sufijo. -->
          </div>
          <div class="pregunta-body container" [ngSwitch]="pregunta.tipo">
            <div *ngSwitchCase="'Respuesta Simple'">
              <div>
                <mat-form-field hintLabel="Maximo 30 caracteres" appearance="fill">
                  <mat-label>Ingrese su respuesta</mat-label>
                  <div>
                    <input [required]="pregunta.required" matInput #input [(ngModel)]="respuestasMap[pregunta.id][0].textValue" maxlength="30" name="RespuestaSimple_{{i}}" placeholder="Ej. Nougat"><mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
                  </div>

                </mat-form-field>
              </div>
            </div>
            <div *ngSwitchCase="'Parrafo'">
              <mat-form-field hintLabel="Maximo 230 caracteres" appearance="fill" style="width: 75%">
                <mat-label>Ingrese su respuesta</mat-label>
                <textarea matInput [required]="pregunta.required" #textArea [(ngModel)]="respuestasMap[pregunta.id][0].textValue" name="Parrafo_{{i}}" maxlength="230" placeholder="Ej. Nougat"></textarea>
                <mat-hint align="end">{{textArea.value?.length || 0}}/230</mat-hint>
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'Opcion Multiple'">
              <mat-radio-group aria-label="Selecciona una opcion" style="display: flex">
                <div *ngFor="let opcion of pregunta.opciones">
                  <mat-radio-button [required]="!!pregunta.required"  style="margin-left: 16px;" [(ngModel)]="respuestasMap[pregunta.id][opcion.id].opcionId" ngDefaultControl name="opcion_{{i}}" value="{{opcion.id}}">{{opcion.texto}}</mat-radio-button>
                </div>
              </mat-radio-group>
            </div>
            <div *ngSwitchCase="'Casillas de Verificacion'">
              <mat-radio-group aria-label="Selecciona una opcion" >
                <div *ngFor="let opcion of pregunta.opciones" style="display: flex">
                  <mat-checkbox  style="margin-left: 16px;" name="opcion_{{opcion.id}}_{{i}}" [(ngModel)]="respuestasMap[pregunta.id][opcion.id].opcionId" value="{{opcion.id}}">{{opcion.texto}}</mat-checkbox>
                </div>
              </mat-radio-group>
            </div>
            <div *ngSwitchCase="'Escala Lineal'">{{pregunta.opciones[0].minValue}}
              <mat-slider
                [(ngModel)]="respuestasMap[pregunta.id][pregunta.opciones[0].id].numValue"
                thumbLabel
                tickInterval="1000"
                name="EscalaLineal_{{i}}"
                min="{{pregunta.opciones[0].minValue}}"
                max="{{pregunta.opciones[0].maxValue}}"></mat-slider>
              {{pregunta.opciones[0].maxValue}}
            </div>
          </div>
        </mat-card>
      </div>
      <div style="float: right; font-family: Metropolis-Regular, sans-serif; margin-top: 20px">
        <button style="margin-right: 20px;" [disabled]="!preguntasForm.valid || !areAllCheckboxesRequiredValid" mat-raised-button color="secondary" aria-label="enviar">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
