<div class="container-card" style="margin-top: 30px">
  <form (ngSubmit)="onSubmitArray()">
    <div class="container">
      <mat-card>
        <h2 style="font-family: Metropolis-Bold, sans-serif">{{encuesta.titulo}}</h2>
        <!--        toda la info necesaria-->
      </mat-card>
      <!--    tarjeta de pregunta-->
      <div style="display: flex" *ngFor="let pregunta of encuesta.preguntas; let i = index;" class="seccion-pregunta">
        <mat-card style="margin-top: 10px; width: 100%">
          <div class="pregunta-header">
            <div style="width: 70%">
              <h3>{{pregunta.descripcion}}</h3>
              <input type="hidden" [(ngModel)]="uprPreguntas[i]" value="{{pregunta.id}}" name="preguntaId_{{i}}">
            </div>
            <!-- IMPORTANTE: cada input dentro el forEach tiene que tener su nombre unico, es por eso que agrego el index como sufijo. -->
          </div>
          <div class="pregunta-body container" [ngSwitch]="pregunta.tipo">
            <div *ngSwitchCase="'Respuesta Simple'">
              <div>
                <mat-form-field hintLabel="Maximo 10 caracteres" appearance="fill">
                  <mat-label>Ingrese su respuesta</mat-label>
                  <input matInput #input [(ngModel)]="AnswersS[i-1]" maxlength="10" name="RespuestaSimple_{{i}}" placeholder="Ej. Nougat">
                  <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div *ngSwitchCase="'Parrafo'">
              <mat-form-field hintLabel="Maximo 65 caracteres" appearance="fill" style="width: 75%">
                <mat-label>Ingrese su respuesta</mat-label>
                <textarea matInput #input [(ngModel)]="AnswersP[i-1]" name="Parrafo_{{i}}" maxlength="65" placeholder="Ej. Nougat"></textarea>
                <mat-hint align="end">{{input.value?.length || 0}}/65</mat-hint>
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'Opcion Multiple'">
              <mat-radio-group aria-label="Selecciona una opcion" style="display: flex">
                <div *ngFor="let opcion of pregunta.opciones">
                  <!-- [(ngModel)]="uprs[i].opcionId"-->
                  <!-- [(ngModel)]="uprs[i].opcion.id"-->
                  <mat-radio-button style="margin-left: 16px;" [(ngModel)]="uprOptions[i]" ngDefaultControl name="opcion_{{i}}" value="{{opcion.id}}">{{opcion.texto}}</mat-radio-button>
                </div>
              </mat-radio-group>

            </div>
            <div *ngSwitchCase="'Casillas de Verificacion'">
              <mat-radio-group aria-label="Selecciona una opcion" >
                <div *ngFor="let opcion of pregunta.opciones" style="display: flex">
                  <mat-checkbox style="margin-left: 16px;" name="opcion_{{opcion.id}}_{{i}}" value="{{opcion.id}}">{{opcion.texto}}</mat-checkbox>
                </div>
              </mat-radio-group>
            </div>
            <div *ngSwitchCase="'Escala Lineal'">{{pregunta.opciones[0].minValue}}
              <mat-slider
                thumbLabel
                tickInterval="1000"
                min="{{pregunta.opciones[0].minValue}}"
                max="{{pregunta.opciones[0].maxValue}}"></mat-slider>
              {{pregunta.opciones[0].maxValue}}
            </div>
          </div>
        </mat-card>
      </div>
      <div style="float: right; font-family: Metropolis-Regular, sans-serif; margin-top: 20px">
        <button style="margin-right: 20px;" mat-raised-button color="secondary" aria-label="enviar">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
