.seccion-pregunta {
  margin-top: 5px;
}

.pregunta-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.container-card {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto
}

.encuesta-header{
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  flex-wrap: wrap
}

@media (min-width: 576px) {
  .container-card {
    max-width: 540px
  }
  .pregunta-header{
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container-card {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  .container-card {
    max-width: 960px
  }
}
@media (max-width: 992px) {

}

@media (min-width: 1200px) {
  .container-card {
    max-width: 1140px
  }
}



