<div class="container-card" style="margin-top: 30px; padding-bottom: 2em">
  <form #form="ngForm" (ngSubmit)="salvarEncuesta()">
<!--  <form [formGroup]="myForm" #formu>-->
    <div>
      <mat-card>
        <div>
          <h2 style="font-family: Metropolis-Bold, sans-serif">Nombre de la encuesta:</h2>
          <input name="encuestaTitulo" class="form-control" [(ngModel)]="encuesta.titulo"/>
          <div style="display: flex; margin-top: 10px">
            <h3 style="font-family: Metropolis-Bold, sans-serif; padding-right: 1em">Descripcion:</h3>
            <input type="text" class="form-control" name="encuestaDesc" [(ngModel)]="encuesta.descripcion"/>
          </div>
        </div>
        <div class="encuesta-header">
          <div class="middle-header">
            <mat-form-field appearance="fill" style="padding-right: 10px">
              <mat-label>Tipo</mat-label>
              <mat-select name="tipoEncuesta" [(ngModel)]="encuesta.tipo">
                <mat-option *ngFor="let tipo of tiposEncuesta" [value]="tipo">
                  {{tipo}}
                </mat-option>
              </mat-select>
              <mat-hint>* Tipo cerrado solo se accedera mediante un link o codigo QR *</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Categoria</mat-label>
              <mat-select name="tipoEncuesta" [(ngModel)]="encuesta.categoria">
                <mat-option *ngFor="let cat of categorias" [value]="cat">
                  {{cat.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="right-header">
            <mat-form-field appearance="fill" style="padding-right: 10px">
              <mat-label>Fecha Inicio de Encuesta</mat-label>
              <input matInput [min]="minDate" [matDatepicker]="ffini" name="ffini" [(ngModel)]="encuesta.fechaIni">
              <mat-datepicker-toggle matSuffix [for]="ffini"></mat-datepicker-toggle>
              <mat-datepicker #ffini></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Fecha Fin de Encuesta</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="ffin" name="ffini" [(ngModel)]="encuesta.fechaFin">
              <mat-datepicker-toggle matSuffix [for]="ffin"></mat-datepicker-toggle>
              <mat-datepicker #ffin></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <!--    tarjeta de pregunta-->
      <div>
        <div style="display: flex" *ngFor="let pregunta of encuesta.preguntas; let i = index" class="seccion-pregunta">
          <mat-card style="margin-top: 10px; width: 100%">
            <div class="pregunta-header">
              <div style="width: 500px">
                <h3>Pregunta {{i + 1}}: </h3>
                <mat-form-field style="width: 100%">
                  <!-- IMPORTANTE: cada input dentro el forEach tiene que tener su nombre unico, es por eso que agrego el index como sufijo. -->
                  <mat-label>Ingrese su Pregunta a formular</mat-label>
                  <input name="descripcion{{i}}" matInput [(ngModel)]="pregunta.descripcion"/>
                </mat-form-field>
              </div>
              <!-- IMPORTANTE: cada input dentro el forEach tiene que tener su nombre unico, es por eso que agrego el index como sufijo. -->

              <div style="display: flex;">
                <mat-slide-toggle style="padding-right: 30px" [(ngModel)]="pregunta.required" ngDefaultControl name="required_{{pregunta.id}}_{{i}}}">Obligatorio *</mat-slide-toggle>
                <mat-form-field appearance="fill">
                  <mat-label>Tipo</mat-label>
                  <mat-select name="tipoPregunta{{i}}" [value]="tipos[0]" [(ngModel)]="pregunta.tipo" (selectionChange)="checkTipo($event, i)">
                    <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                      {{tipo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="pregunta-body container" [ngSwitch]="pregunta.tipo">
              <div *ngSwitchCase="'Respuesta Simple'">
                Respuesta Simple:
                <mat-form-field>
                  <mat-label></mat-label>
                  <input name="opcionSimple" disabled value="Respuesta Simple" matInput>
                </mat-form-field>
              </div>
              <div *ngSwitchCase="'Parrafo'">
                Parrafo:
                <mat-form-field>
                  <mat-label></mat-label>
                  <textarea disabled matInput placeholder="Ex. Esto me hace sentir..."></textarea>
                </mat-form-field>
              </div>
              <div *ngSwitchCase="'Opcion Multiple'">

                <p style="color: rgba(0,0,0,.6); font-size: 80%;">* El usuario solo puede seleccionar una sola opcion de la siguiente lista: *</p>
                <!-- tarjeta de opciones-->
                <div *ngFor="let opcion of pregunta.opciones; let j = index">
                  <mat-radio-button disabled disableRipple></mat-radio-button>
                  <mat-form-field style="width: 50%">
                    <mat-label>Opcion {{j + 1}}</mat-label>
                    <!-- IMPORTANTE: cada input dentro el forEach tiene que tener su nombre unico, es por eso que agrego el index como sufijo. -->
                    <input name="p{{i}}_opcionSimple{{j}}" matInput [(ngModel)]="opcion.texto"/>
                  </mat-form-field>
                </div>
                <button mat-stroked-button color="primary" type="button" aria-label="agregar opcion multiple" (click)="agregarOpcionMultiple(i)" style="margin-right: 5px">
                  Agregar Opcion
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-stroked-button color="primary" type="button" aria-label="agregar opcion multiple" (click)="quitarOpcionMultiple(i)">
                  Quitar Opcion
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
              <div *ngSwitchCase="'Casillas de Verificacion'">
                <p style="color: rgba(0,0,0,.6); font-size: 80%;">* El usuario puede seleccionar multiples opciones de la siguiente lista: *</p>
                <div *ngFor="let opcion of pregunta.opciones; let j = index">
                  <mat-checkbox style="padding: 10px" disabled disableRipple></mat-checkbox>
                  <mat-form-field style="width: 50%">
                    <mat-label>Opcion {{j + 1}}</mat-label>
                    <!-- IMPORTANTE: cada input dentro el forEach tiene que tener su nombre unico, es por eso que agrego el index como sufijo. -->
                    <input name="p{{i}}_opcionSimple{{j}}" matInput [(ngModel)]="opcion.texto"/>
                  </mat-form-field>
                </div>
                <button mat-stroked-button color="primary" type="button" aria-label="agregar opcion multiple" (click)="agregarOpcionMultiple(i)" style="margin-right: 5px">
                  Agregar Opcion
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-stroked-button color="primary" type="button" aria-label="agregar opcion multiple" (click)="quitarOpcionMultiple(i)">
                  Agregar Opcion
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
              <div *ngSwitchCase="'Escala Lineal'">
                <div style="display: flex; align-items: center">
                  <p style="width: 45px; align-self: flex-end; padding-bottom: 5px; margin-right: 5px;">Desde:</p>
                  <mat-form-field style="width: 60px; margin-right: 10px">
                    <mat-select name="linealMin" [(ngModel)]="pregunta.opciones[0].minValue">
                      <mat-option [value]="0">0</mat-option>
                      <mat-option [value]="1">1</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Etiqueta (opcional)</mat-label>
                    <!--                    <input matInput type="text" [(ngModel)]="value">-->
                    <input matInput type="text" [(ngModel)]="pregunta.opciones[0].minText" name="min_label_{{i}}">
                    <!--                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
                    <button mat-button matSuffix type="button" (click)="pregunta.opciones[0].minText = ''" mat-icon-button aria-label="Clear">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>

                </div>
                <div style="display: flex; align-items: center">
                  <p style="width: 45px; align-self: flex-end; padding-bottom: 5px; margin-right: 5px;">Hasta:</p>
                  <mat-form-field style="width: 60px; margin-right: 10px">
                    <mat-select name="linealMax" [(ngModel)]="pregunta.opciones[0].maxValue">
                      <mat-option *ngFor="let range of _rangeEscale" [value]="range">{{range}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Etiqueta (opcional)</mat-label>
                    <!--                    <input matInput type="text" [(ngModel)]="value">-->
                    <input matInput type="text" [(ngModel)]="pregunta.opciones[0].maxText" name="max_label_{{i}}">
                    <!--                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
                    <button mat-button type="button" (click)="pregunta.opciones[0].maxText = ''" matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div style="margin: 10px 0 10px 0; display: flex; justify-content: space-between">
          <div>
            <button mat-raised-button color="primary" type="button" aria-label="agrega pregunta" (click)="agregarPreguntaDefault()"
                    matTooltip="Agrega una pregunta por debajo la ultima"
                    [matTooltipPosition]="'below'" style="margin: 5px 5px 5px 0px">
              Agregar Pregunta
              <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button color="warn" type="button" aria-label="agrega pregunta" (click)="quitarPreguntaDefault()"
                    matTooltip="Quita la ultima pregunta"
                    [matTooltipPosition]="'below'" style="margin: 5px 5px 5px 0px">
              Quitar Pregunta
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <div>
            <button mat-raised-button color="primary" type="button"
                    matTooltip="Limpia todos los campos de la encuesta y comienza de nuevo!"
                    [matTooltipPosition]="'below'" (click)="limpiarEncuesta()" style="margin: 5px 5px 5px 0px">
              Limpiar
              <!--            <mat-icon></mat-icon>-->
            </button >
            <button mat-raised-button color="primary" type="submit"
                    matTooltip="Guarda la encuesta actual y la publica en la pagina."
                    [matTooltipPosition]="'below'">
              Guardar
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
