<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul class="list-group text-dark mb-3" *ngIf="persona">
                  <li class="list-group-item">{{persona.nombres}}</li>
                  <li class="list-group-item">{{persona.apellidoPat}}</li>
                  <li class="list-group-item">{{persona.apellidoMat}}</li>
                  <li class="list-group-item">{{persona.ci}}</li>
                  <li class="list-group-item">{{persona.sexo}}</li>
                  <li class="list-group-item">{{persona.email}}</li>
                  <li class="list-group-item">{{persona.carrera.nombre}}</li>
                  <li class="list-group-item" *ngIf="persona.instituto">{{persona.instituto.nombre}}</li>
                  <li class="list-group-item">{{persona.fnac | date:"EEEE dd, MMMM, yyyy"}}</li>
                  <li class="list-group-item">{{persona.username}}</li>
                  <li class="list-group-item">{{persona.enabled}}</li>
                </ul>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input"
                           id="inputGroupFile04"
                           aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Seleccionar Foto</label>
                  </div>
                  <div class="input-group-append">
                    <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary"
                            type="button" id="inputGroupFileAddon04">Subir
                    </button>
                  </div>
                </div>
                <div class="progress" *ngIf="progreso>0" style="height: 40px;">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                       [ngStyle]="{width:progreso+'%'}"
                       attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">{{progreso}}%
                  </div>
                </div>
              </div>
              <div class="col-sm" *ngIf="persona?.foto && persona.foto.substr(0,4) == 'http'">
                <img src="{{persona.foto}}" alt="{{persona.foto}}"
                     class="img-thumbnail rounded">
              </div>
              <div class="col-sm" *ngIf="persona?.foto && persona.foto.substr(0,4) != 'http'">
                <img src="{{basePath}}/api/uploads/img/{{persona.foto}}" alt="{{persona.foto}}"
                     class="img-thumbnail rounded">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
