<div class="container p-5" style="text-align: -webkit-center">
  <mat-card style="width: 50%">
    <mat-card-title style="text-align: center">{{titulo}}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formGroup" (submit)="sendPersona()">
        <mat-form-field style="width: 100%; padding-bottom: 10px">
          <mat-label>Email</mat-label>
          <input matInput formControlName="usernameFormControl" id="username" name="username" placeholder="juandoe2" [errorStateMatcher]="matcher">
<!--          <mat-hint>Errors appear instantly!</mat-hint>-->
          <mat-error *ngIf= "!formGroup.get('usernameFormControl').valid && formGroup.get('usernameFormControl').touched">
            Este campo es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf= "flag">
            <p *ngIf="mensaje">{{mensaje}}</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%; padding-bottom: 10px">
          <mat-label>Password</mat-label>
          <input matInput formControlName="passwordFormControl" id="password" name="password" placeholder="" [errorStateMatcher]="matcher">
          <!--          <mat-hint>Errors appear instantly!</mat-hint>-->
          <mat-error *ngIf= "!formGroup.get('passwordFormControl').valid && formGroup.get('passwordFormControl').touched">
            Este campo es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf= "!formGroup.get('passwordFormControl').validator && formGroup.get('passwordFormControl').touched">
            El password debe estar entre 4 y 12 caracteres
          </mat-error>
        </mat-form-field>
        <button mat-button (click)="sendPersona()" type="button">Enviar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
