<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombres</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.nombres" name="nombre" id="nombre" #nombre="ngModel"> <!-- required -->
        </div>
      </div>
      <div class="form-group row">
        <label for="apellido_pat" class="col-form-label col-sm-2">Apellido Paterno</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.apellidoPat" name="apellido_pat"
                 id="apellido_pat"  #apellido_pat="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="apellido_mat" class="col-form-label col-sm-2">Apellido Materno</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.apellidoMat" name="apellido_mat"
                 id="apellido_mat" #apellido_mat="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="ci" class="col-form-label col-sm-2">CI</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.ci" name="ci" id="ci"  #ci="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="sexo" class="col-form-label col-sm-2">Sexo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.sexo" name="sexo" id="sexo" #sexo="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="fnac" class="col-form-label col-sm-2">Fecha Nacimiento</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.fnac" name="fnac" id="fnac" #fnac="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.email" name="email" id="email" #email="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-form-label col-sm-2">Username</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" id="username" #username="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-form-label col-sm-2">Password</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.password" name="password" id="password" #password="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="enabled" class="col-form-label col-sm-2">Habilitado</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.enabled" name="enabled" id="enabled" #enabled="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!usuario.id else elseBlock">Crear
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()">Aplicar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>


</div>
