.login-page {
  height:90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,85,128,1) 99%);
  /*background: linear-gradient(163deg, rgba(196,0,0,1) 0%, rgba(74,15,15,1) 50%, rgba(20,6,158,1) 100%);*/
}

.header-style{
  text-align:center;
  font-family: Metropolis-Light,
  sans-serif; font-size: 17pt;
  padding: 23px 0 23px 0
}

mat-card {
  width: 30%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}

.login-button {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.mat-raised-button.mat-primary{
  color: #f0fff3;
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,85,128,1) 99%);
  height: 4.3em;
}

.example-loading-shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  padding-top: 145px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  mat-card {
    width: 100%;
  }
}
