<div class="container mt-5">
  <div class="card text-center">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
      <form method="post">
        <div class="form-group col-sm-6">
          <input [(ngModel)]="persona.username" type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus required>
        </div>
        <div class="form-group col-sm-6">
          <input [(ngModel)]="persona.password" type="text" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="form-group col-sm-6">
          <input (click)="login()" type="button" class="btn btn-lg btn-primary btn-block" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>
