<!--div class="container mt-5">
  <div class="card text-center">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
      <form method="post">
        <div class="form-group col-sm-6">
          <input [(ngModel)]="persona.username" type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus required>
        </div>
        <div class="form-group col-sm-6">
          <input [(ngModel)]="persona.password" type="text" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="form-group col-sm-6">
          <input (click)="login()" type="button" class="btn btn-lg btn-primary btn-block" value="Login">
        </div>
      </form>
    </div>
  </div>
</--div!-->
<div class="login-page">
  <mat-card class="mat-elevation-z12 card-login" style="width: 400px">
    <mat-card-title style="text-align:center; margin-top: 13px; margin-bottom: 13px">SignIn/SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content>
          <form method="post">
            <mat-form-field>
              <input matInput [(ngModel)]="persona.username" placeholder="Usuario" id="username" autofocus required name="username" ngModel #username="ngModel">
              <mat-error *ngIf="username.invalid">Usuario es necesario</mat-error>
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field style="margin-top: 10px; margin-bottom: 10px">
              <input [(ngModel)]="persona.password" matInput placeholder="Password" type="password" required minlength="5" name="password" ngModel #password="ngModel">
              <mat-error *ngIf="password.errors && password.errors.required">Password necesario.
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">El password debe tener al menos 5 caracteres.
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button mat-raised-button color="primary" class="login-button" (click)="login()">Sign In</button>
<!--            <button mat-raised-button class="login-button">Login with Google</button>-->
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <app-registro></app-registro>
<!--        <mat-card-content>-->
<!--          <form action="">-->
<!--            <mat-form-field>-->
<!--              <input matInput placeholder="User Name" required name="username" ngModel #username="ngModel">-->
<!--              <mat-icon matSuffix>perm_identity</mat-icon>-->
<!--              <mat-error *ngIf="username.invalid">Username is required-->
<!--              </mat-error>-->

<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <input-->
<!--                matInput-->
<!--                placeholder="Email"-->
<!--                required-->
<!--                name="email"-->
<!--                ngModel-->
<!--                #email="ngModel">-->
<!--              <mat-error *ngIf="email.invalid">Email is required</mat-error>-->
<!--              <mat-icon matSuffix>email</mat-icon>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <input-->
<!--                matInput-->
<!--                placeholder="Password"-->
<!--                type="password"-->
<!--                required-->
<!--                minlength="6"-->
<!--                name="password"-->
<!--                ngModel-->
<!--                #password="ngModel">-->
<!--              <mat-error-->
<!--                *ngIf="password.errors && password.errors.required">-->
<!--                Password is required-->
<!--              </mat-error>-->
<!--              <mat-error-->
<!--                *ngIf="password.errors && password.errors.minlength">-->
<!--                Password must be of length 6-->
<!--              </mat-error>-->
<!--              <mat-icon matSuffix>lock</mat-icon>-->

<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <input-->
<!--                matInput-->
<!--                placeholder="Password"-->
<!--                type="password"-->
<!--                required-->
<!--                minlength="6"-->
<!--                name="repassword"-->
<!--                ngModel-->
<!--                #repassword="ngModel">-->
<!--              <mat-error-->
<!--                *ngIf="repassword.errors && repassword.errors.required">-->
<!--                Re-Enter Password is required-->
<!--              </mat-error>-->
<!--              <mat-icon matSuffix>lock</mat-icon>-->
<!--            </mat-form-field>-->
<!--            <button-->
<!--              mat-raised-button-->
<!--              color="primary"-->
<!--              class="login-button">-->
<!--              Sign Up-->
<!--            </button>-->
<!--          </form>-->
<!--        </mat-card-content>-->
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <br/>
  <br/>
  <br/>
  <br/>
  <h2 style="color: white">Agregar contenido aca</h2>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>

