<div class="login-page" style="height: 850px">
  <div class="mat-elevation-z12 card" style="max-width: 430px; min-width: 430px; width: 50%;margin: 0 auto;display: inherit;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
    <div class="card-header header-style">Ingresar al sistema</div>
    <div class="card-body">
      <form method="post">
        <mat-form-field appearance="outline">
          <mat-label>Correo electronico o Username</mat-label>
          <input matInput [(ngModel)]="persona.username"
                 placeholder="Correo electronico o Username"
                 id="username" autofocus required
                 name="username"
                 ngModel #username="ngModel">
          <mat-error *ngIf="username.invalid">Este campo es requerido</mat-error>
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field style="margin-top: 10px; margin-bottom: 10px" appearance="outline">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="persona.password" matInput placeholder="Password" type="password" required minlength="4" name="password" ngModel #password="ngModel">
          <mat-error *ngIf="password.errors && password.errors.required">Password necesario.</mat-error>
          <mat-error *ngIf="password.errors && password.errors.minlength">El password debe tener al menos 4 caracteres.</mat-error>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <!--          <mat-checkbox [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}">Recuerdame!</mat-checkbox>-->
        <button mat-raised-button color="primary" class="login-button" (click)="login()">Ingresar</button>
        <button mat-button style="padding: 1rem; margin-top: 0; margin-bottom: 0" class="login-button" (click)="googleLogin()">
          <mat-icon style="width: 50px; height:30px" svgIcon="logo"></mat-icon> Ingresa / Registrate con Google
        </button>
      </form>
    </div>
    <div class="card-footer text-muted" style="cursor: pointer;" (click)="redirectRegister()">
      <div style="display: flex; justify-content: center">
        <h3>Nuevo en Uquest? </h3>
        <h3 style="color: #3f51b5"> &nbsp;&nbsp;Registrate</h3>
      </div>
    </div>

  </div>
</div>

