<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">UQUEST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/personas']" *ngIf="authService.hasRole('ROLE_ADMIN')">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/encuestas']" *ngIf="authService.hasRole('ROLE_USER') && !authService.hasRole('ROLE_ADMIN')">Mis Encuestas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/encuestas/public']" *ngIf="!authService.hasRole('ROLE_ADMIN')">Encuestas Publicas</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <!--      <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn">Login</a></li>-->
      <li *ngIf="!authService.isAuthenticated()" class="mr-2">
        <a [routerLink]="['/registro']">
          <button mat-raised-button>Registrarse</button>
        </a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a [routerLink]="['/login']">
          <button mat-raised-button>Login</button>
        </a>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <div>
          <div style="flex-wrap: wrap">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-card style="display: none"></mat-card>
              <div class="box-menu">
                <span style="padding-right: 8px; padding-left: 5px">{{authService.persona.username}}</span>
                <div *ngIf="!hasFoto()" mat-card-avatar style="background-size: cover;" [ngStyle]="{ 'background-image': 'url('+ basePath +'/images/no_user.png)'}"></div>
                <div  *ngIf="hasFoto()" mat-card-avatar style="background-size: cover;" [ngStyle]="{ 'background-image': 'url('+ basePath +'/api/uploads/img/' + authService.persona.foto + ')'}"></div>
              </div>
            </button>
          </div>
          <mat-menu #menu="matMenu">
            <button [routerLink]="['/profile']" mat-menu-item>
              <mat-icon>person_pin</mat-icon>
              <span>Perfil</span>
            </button>
            <button (click)="logout()" mat-menu-item>
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </li>
    </ul>
  </div>
</nav>
