*:focus {
  outline: none !important;
  border: 0 !important;
}
.box-menu{
  display: flex;
  color: white;
  font-family: Metropolis-BoldItalic, sans-serif;
}

.no-user{
  background-size: cover;
  background-image: url('http://localhost:8080/images/no_user.png');
}
.min-height-width{
  min-width: 100px;
  min-height: 100px;
}
