*:focus {
  outline: none !important;
  border: 0 !important;
}
.box-menu{
  display: flex;
  color: white;
  font-family: Metropolis-BoldItalic, sans-serif;
}
.min-height-width{
  min-width: 100px;
  min-height: 100px;
}
